@import url("../fonts/Raleway/raleway.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  height: 100vh;
  z-index: 1;
  /* background-color: #eae2d1; */
  background-color: #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(16, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: row;
  /*border-left: 1px solid black;*/
  /*border-right: 1px solid black;*/
  background-color: #eae2d1;
}

.header__image {
  grid-column: 1/18;
  background: url("../img/bg.png") center center/cover no-repeat;
  grid-row: 1/11;
}

/* left top section */

.header__top {
  grid-column: 2/2;
  grid-row: 1/ 1;
  padding: 21px 16px 22px 22px;
  background-color: #000;
  width: 200px;
  height: 80px;
  margin-top: 50px;
  color: white;

  font-family: Montserrat;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.2em;
  line-height: 36px;
  text-align: center;
  color: #fff;
  margin-left: 100px;
}

/* button right top section */

.header__btn {
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  width: 52px;
  height: 36px;
  grid-column: 15/18;
  grid-row: 1/2;
  margin-top: 58px;
}

.dash {
  background-color: #fff;
  height: 4px;
  width: 95%;
  position: absolute;
  color: white;
}

.line1 {
  color: white;
}

.line2 {
  position: absolute;
  top: 6px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 18px;
  text-align: center;
  color: white;
}

.line3 {
  top: 26px;
  color: white;
}

/* center section SMILE */

.header__center {
  font-family: Raleway;
  font-size: 220px;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: 22px;
  text-align: center;
  color: #ffffff;
  grid-column: 8/16;
  grid-row: 4/7;
  margin-top: 38px;
  margin-right: 13px;
}

/* center section it cost you nothing */

.header__cost {
  font-family: Raleway;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 6.4px;
  text-align: center;
  color: #ffffff;
  grid-column: 8/16;
  grid-row: 6/8;
  margin-top: 50px;
  margin-right: 50px;
}

.header__bottom {
  grid-column: 8/11;
  grid-row: 9/9;
  margin-left: 20px;
  align-self: center;
  margin-top: 30px;
}

.bottom__circles {
  width: 192px;
  height: 16px;
}

.circle,
.circle--active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 24px;
  display: inline-block;
}

.circle--active {
  background-color: #fff;
}

.circle:nth-of-type(5) {
  margin-right: 0;
}

.section__psd-template {
  margin-top: 75px;
  grid-column: 4/14;
  grid-row: 11/17;
  text-align: center;
  font-family: Raleway;
  font-size: 60px;
  font-weight: 200;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  justify-content: center;
}

.psd__header--bold {
  grid-row: 13/14;
  font-weight: 700;
  margin-bottom: 32px;
}

.psd__free-text {
  grid-row: 14/15;

  font-family: Raleway;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 42px;
}

.psd__line {
  height: 2px;
  width: 80px;
  background-color: #000;
  /* text-align: center; */
  /* justify-self: center; */
  /* align-self: center; */
  grid-column: 7;
  margin: auto;
  margin-bottom: 58px;
}

.psd__lorem {
  grid-row: 11/12;
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.section__people--left,
.section__people--right {
  margin-top: 71px;
}

.section__people--left {
  grid-column: 1/9;
  grid-row: 17/24;
  background-color: #eae2d1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 99px;
  padding-right: 122px;
}

.section__people--text,
.section__people--author {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.section__people--author {
  margin-top: 63px;
  font-weight: 300;
}

.section__people--right {
  grid-column: 9/18;
  grid-row: 17/24;
  background: url("../img/Clip.png") center center/cover no-repeat;
  border: 1px solid black;
}

.section__indicators {
  margin-top: 58px;
  display: flex;
}

.indicator--active,
.indicator {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.indicator--active {
  background: #626262;
}

.indicator {
  background: rgba(214, 70, 7, 0);
  border: 1px solid #626262;
}

.words__text--top,
.words__text--down {
  font-family: Raleway;
  font-size: 60px;
  font-weight: 700;
  line-height: 0.8;
  text-align: left;
}

.words__line--top,
.words__line--down {
  margin-top: -22px;
  width: 80px;
  height: 2px;
  background-color: #000;
}

.words__text--top {
  grid-row: 25/26;
  grid-column: 2/16;
}

.words__line--top {
  grid-row: 26/26;
  grid-column: 2/3;
}

/* width: 700px;
height: 290px;

 */

.reasons__center {
  grid-row: 27/31;
  grid-column: 2/15;
}

.grid__card {
  background: #fff;
  border: 1px solid #dcdcdc;
}

.grid__card-1,
.grid__card-2,
.grid__card-3,
.grid__card-4 {
  border: solid 1px #dcdcdc;
  background-color: #ffffff;
}
.grid__card-1 {
  grid-row: 27/30;
  grid-column: 2/9;
}
.grid__card-2 {
  grid-row: 27/30;
  grid-column: 9/16;
}
.grid__card-3 {
  grid-row: 30/33;
  grid-column: 2/9;
}
.grid__card-4 {
  grid-row: 30/33;
  grid-column: 9/16;
}

.grid__card-wrapper,
.grid__card-wrapper--4 {
  margin-left: 50px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.grid__card-wrapper--4 {
  justify-content: space-around;
}

.grid__header-text,
.grid__text,
.grid__text-author,
.grid__text-author2,
.grid__text--4 {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: normal;
}

.grid__header-text {
  line-height: 2.4;
}

.grid__text {
  line-height: 1.7;
}

.grid__text,
.grid__text-author,
.grid__text-author2,
.grid__text--4 {
  font-weight: 500;
  font-size: 20px;
}
.grid__text-author,
.grid__text-author2 {
  line-height: 2.4;
  font-weight: 400;
  font-style: italic;
}

.grid__text-author2 {
  margin-bottom: 10px;
}
.grid__text--4 {
  margin-bottom: 19px;
}

.btn,
.btn--posters,
.btn--email {
  grid-row: 33/35;
  grid-column: 5/13;
  border-radius: 4px;
  border: solid 2px #000000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-align: center;
  color: #000;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  padding: 13px 36px 13px 32px;
}

.love__image {
  grid-row: 35/42;
  grid-column: 1/18;
  margin-bottom: 40px;
}

.love__image-imgtag {
  object-fit: cover;
}

.love__text,
.love__image--author {
  grid-row: 34/42;
  grid-column: 5/14;
  font-family: Raleway;
  margin-right: 75px;
  font-size: 60px;
  font-weight: 700;
  /* margin: auto; */
  color: #ffffff;
  align-self: center;
  /* width: 825px; */
  text-align: center;
  font-stretch: normal;
  font-style: normal;
}

.love__image--author {
  grid-row: 36/44;
  grid-column: 5/14;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 60px;
}
.love__image-underline {
  text-decoration: underline;
}

.words__text--down {
  grid-row: 42/43;
  grid-column: 2/16;
  margin-top: 50px;
}

.words__line--down {
  grid-row: 43/43;
  grid-column: 2/3;
  margin-top: 50px;
}

/* 825x321 - 100px */

.poster__img {
  object-fit: cover;
}

.posters__left {
  grid-column: 1/8;
  grid-row: 43/52;
  margin-left: 12px;
}
.posters__right {
  grid-column: 8/15;
  grid-row: 44/48;
  margin-top: -12px;
  margin-left: 50px;
}
.posters__bottom--left {
  grid-column: 8/12;
  grid-row: 48/52;
  margin-left: 50px;
  margin-top: 6px;
}
.posters__bottom--right {
  grid-column: 12/16;
  grid-row: 48/52;
  margin-left: 60px;
  margin-top: 6px;
}

.btn--posters {
  grid-row: 51/54;
  padding: 13px 18px 13px 18px;
  margin-right: 16px;
}

/* .footer {
  background-color: #fff;
  grid-row: 54/70;
  grid-column: 1/18;
} */

.header__text,
.link__text,
.link__text--subscribe {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 2.13;
  letter-spacing: 2.4px;
  text-align: left;
  color: #000000;
}

.link__text {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.header__text {
  margin-bottom: 27px;
}

.footer__browse,
.footer__shop,
.footer__contact,
.footer__subscribe-now {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 126px;
}



.footer__flex {
  display: flex;
  justify-content: space-evenly;
  grid-row: 54/70;
  grid-column: 1/18;
  background-color: #fff;
}

input[type="email"] {
  display: block;
  min-width: 340px;
  min-height: 40px;
  background-color: rgba(234, 238, 241, 1);
  border: none;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 19px;
  margin-bottom: 19px;
}

.form__email::placeholder {
  font-family: "Montserrat";
  font-size: 15px;
  color: rgba(169, 169, 169, 1);
  letter-spacing: 0.15em;
  margin-left: 19px;
}

.form__email:focus {
  outline: none;
}

.btn--email {
  font-size: 16px;
  padding: 5px 27px 5px 28px;
  min-width: 130px;
  min-height: 40px;
}

.link__text--subscribe {
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: -10px;
}
